 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 684px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  align-self: center;
  margin: 28px auto 0;
  padding: 25px 132px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  align-self: center;
  margin: 28px auto 0;
  padding: 24px 161px 26px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  align-self: center;
  margin: 28px auto 0;
  padding: 24px 120px 24px 119px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  align-self: center;
  margin: 28px auto 0;
  padding: 24px 142px 25px 140px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  align-self: center;
  margin: 28px auto 0;
  padding: 24px 135px 26px 134px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  margin: 28px auto;
  padding: 24px 170px 25px 169px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 61px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 479px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 61px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 61px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 484px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 259px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 264px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-left: 79px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 84px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 86px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: -31px;
  }
}
